input[type='range'] {
	width: 300px !important;
}

body {
	/*background-color: grey;*/
}

#protoGraph {
	background-color: white;
	border: black 1px solid;
	height: auto;
	width: auto;
	/*text-align: center;	*/
	float: left;
	margin: 5px;
}

#modbusGraph {
	background-color: white;
	border: black 1px solid;
	float: left;
	height: auto;
	width: auto;
	margin: 5px;
}

#numAccessGraph {
	background-color: white;
	float: left;
	height: auto;
	width: auto;
	margin: 5px;
	border: black 1px solid;

}